<div class="loginDiv">
    <h3>{{$ctrl.submitName}}:</h3>
    <form class="login-form" layout="column" layout-align="space-between center" ng-submit="$ctrl.login()">
        <!-- input username and password -->
        <md-input-container class="md-block">
            <label>Username</label>
            <input ng-model="$ctrl.user.username" type="text" required id="lgnusername" placeholder="username">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="$ctrl.user.password" type="password" required id="lgnpassword" placeholder="password">
        </md-input-container>
        <md-button class="md-raised" type="submit">{{$ctrl.submitName}}</md-button>
        <md-button class="md-warn" ng-click="$ctrl.flipLogin()">{{$ctrl.toggleName}}</md-button>
    </form>
</div>