<md-content flex layout="row" layout-align="center" layout-padding="" layout-margin="" layout-fill="">
    <div class="md-content-container edit-form-container" layout="column" layout-padding="" layout-margin="" flex
        md-whiteframe="3" ng-class="{ '{{ $ctrl.postTheme }}': true }">
        <h1 class="md-display-1">{{$ctrl.editHeadline}}</h1>
        <form layout="column" layout-align="space-between" flex ng-submit="$ctrl.submitPost()">
            <div layout="column">
                <md-input-container class="md-block">
                    <label for="title">Title</label>
                    <input type="text" id="title" ng-model="$ctrl.post.title">
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="content">Content</label><br>
                    <div text-angular="text-angular" id="content" ng-model="$ctrl.post.content"></div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center">
                <md-button layout="row" layout-align="space-around center" class="md-raised" type="submit" ng-class="{ '{{ $ctrl.btnTheme }}': true }">
                    {{$ctrl.editButtonText}}
                    <md-progress-circular md-mode="indeterminate" md-diameter="20px" class="md-accent" ng-if=$ctrl.loading>
                    </md-progress-circular>
                </md-button>
                <md-button class="md-raised md-warn md-hue-1" ng-click="$ctrl.cancelEdit()">cancel</md-button>
            </div>
        </form>
    </div>
</md-content>