.blogpostPreview {
  border-radius: 5px;
}

.blogListDiv {
  overflow-y: auto;
}

/* width */
.blogListDiv::-webkit-scrollbar, .blogListDiv::-moz-scrollbar {
  width: 10px;
  
}

/* Track */
.blogListDiv::-webkit-scrollbar-track, .blogListDiv::-moz-scrollbar-track {
  background: #1976d2;  
  border-radius: 5px;
  margin-top: 10px;
}
.blogListDiv-alt::-webkit-scrollbar-track, .blogListDiv-alt::-moz-scrollbar-track {
  background: orange;  
  border-radius: 5px;
}

/* Handle */
.blogListDiv::-webkit-scrollbar-thumb, .blogListDiv::-moz-scrollbar-thumb {
  background: orange;
  border-radius: 5px;
}
.blogListDiv-alt::-webkit-scrollbar-thumb, .blogListDiv-alt::-moz-scrollbar-thumb {
  background: #1976d2;
  border-radius: 5px;
}

/* Handle on hover */
.blogListDiv::-webkit-scrollbar-thumb:hover, .blogListDiv::-moz-scrollbar-thumb:hover {
  background: #ff6d00;
}
.blogListDiv-alt::-webkit-scrollbar-thumb:hover, .blogListDiv-alt::-moz-scrollbar-thumb:hover {
  background: #2962ff;
}

.stickybtn {
  position: sticky;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0) !important;
}

.md-warn:hover,
.md-accent:hover,
.md-primary:hover,
.addbtn:hover .addicon {
  color: #fff !important;
  transition: 0.5s;
}

.accent-alt:hover,
.accent-alt:hover .addicon {
  color: #000 !important;
  transition: 0.5s;
}

.togglelog:hover,
.closeicon:hover {
  color: #f44336 !important;
  transition: 0.3s;
}

.md-button,
.addicon,
.closeicon {
  transition: 0.5s;
}
