.header-stuff {
  border-bottom: 1px solid;
}

.imagelogo {
  width: 120px;
  height: auto;
  border-radius: 15px;
}

.usernameSecret {
  cursor: pointer;
  text-decoration: underline;
}

.profileicon {
text-align: right;
}
