/* .welcome-text{
    color: #fff;
} */

/* .registerDiv, .signinbtn{
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}

.loginDiv, .signupbtn{
    visibility: visible;
    opacity: 1;
    transition: 1000ms;
}

hr{
    position: absolute;
}

.loginDialog:hover .registerDiv, .loginDialog:hover .signinbtn{
    visibility: visible;
    opacity: 1;
    transition: 500ms;
}

.loginDialog:hover .loginDiv, .loginDialog:hover .signupbtn{
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}

.loginDialog:hover hr{
    position: relative;
    transition: 500ms;
} */
