<md-toolbar class="header-stuff" layout="column" layout-align="space-between">
    <h1 class="welcome-text" flex-offset="5">Welcome to MetaBook</h1>
    <h3 class="user-connected" flex-offset="5">Connected as Bill</h3>
    <div class="btns" layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="$ctrl.openConnect($event)">Log in</md-button>
        <!-- <md-button class="md-raised" ng-click="$ctrl.openConnect($event)">Sign up</md-button> -->
        <md-button class="md-raised">My posts</md-button>
        <md-button class="md-raised md-warn">Log out</md-button>
    </div>
</md-toolbar>