<md-toolbar class="header-stuff" layout="row" layout-align="space-between" md-colors="{background: 'primary'}">
    <div class="left-header" layout="row" layout-align="start end" layout-margin="">
        <a href="/"><img src="../assets/images/metabook-logo2.png" alt="metabook-logo" width="120px" height="auto" ng-style="{ 'border-radius': '15px' }" md-colors="{background: 'background'}" layout-padding=""></a>
        <h1 class="welcome-text md-display-3">Welcome to MetaBook</h1>
    </div>
    <div class="right-header" layout="column" layout-align="end" layout-margin="">
        <h3 class="user-connected md-headline" layout="row" layout-align="end end" ng-if="$ctrl.user">Connected as: <span flex-offset="5" ng-style="{ 'cursor': 'pointer' }" ng-click="$ctrl.switchTheme()">{{$ctrl.user.username}}</span></h3>
        <div class="btns" layout="row" layout-align="end center">
            <md-button class="md-raised md-accent md-hue-2" ng-if="!$ctrl.user" ng-click="$ctrl.openLogin($event)">Log in</md-button>
            <md-button class="md-raised md-accent" ng-if="$ctrl.user" ng-click="$ctrl.userPosts()">My posts</md-button>
            <md-button class="md-raised md-warn md-hue-1" ng-if="$ctrl.user" ng-click="$ctrl.logout()" md-colors="">Log out</md-button>
        </div>
    </div>
</md-toolbar>