.my-post {
  border-bottom: groove 5px orange; /*accent*/
}

.my-post-alt {
  border-bottom: groove 5px #1976d2; /*accent*/
}

.blogpostView__title {
  text-align: center;
}

.blogpostView__content {
border-radius: 5px;}

.blogpostView__content p {
  margin: 0px;
}

/* .md-icon:active{
    color: orange;
} */
