<div class="blogpostView md-dialog-content" layout="column" layout-align="space-between">
    <div class="blogpostView__header">
        <h1 class="blogpostView__title">
            {{$ctrl.post.title}}
        </h1>
        <hr>
    </div>
    <div class="blogpostView__content">
        <p>{{$ctrl.post.content}}</p>
    </div>
    <div class="blogpostView__bottom" layout="row" layout-align="space-between center">
        <span class="blogpostView__user">
            Posted by <span class="usertag">{{ $ctrl.post.name }}</span>
        </span>
        <span class="btns">
            <md-button class="closebtn md-raised md-warn" ng-click="$ctrl.closePost()">CLOSE</md-button>
            <md-button class="editbtn md-raised md-primary" ng-if="$ctrl.user.username === $ctrl.post.name" ng-click="$ctrl.editPost()">EDIT</md-button>
        </span>
    </div>
</div>